{% load menu_loader %}

<html>
<head>
   <meta charset="UTF-8">
   <title>Menu</title>
   <style></style>
</head>
<body>
   {% for items in category_list %}
         <ul><a href="{{ items.slug }}">{{ items.title }}</a>
            {% if items != '{}' %}
            <li><details>
                    <summary>

                    </summary>
                    <div class="menu_item">
                    {% draw_subcategory items %}
                    </div>
                </details></li>
         </ul>
   {% endif %}
    {% endfor %}

</body>
<script>

</script>
</html>


